/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";
@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredstrategy: "pseudoelements";
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/vazir/Vazirmatn-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/vazir/Vazirmatn-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  &,
  &.light-mode {
    /* --background-app-rgb: rgb(244, 245, 247);
    --color-primary: rgb(204, 49, 45);
    --color-secondary: rgb(255, 244, 248);
    --text-primary: rgb(26, 24, 20);
    --text-secondary: rgb(96, 96, 96); */

    /* --color-secondary: 255, 244, 248; */

    /* --color-primary-900: 74, 109, 255;
    --color-primary-800: 92, 124, 255;
    --color-primary-700: 110, 138, 255;
    --color-primary-600: 128, 153, 255;
    --color-primary-500: 146, 167, 255;
    --color-primary-400: 164, 182, 255;
    --color-primary-300: 183, 197, 255;
    --color-primary-200: 201, 211, 255;
    --color-primary-100: 219, 226, 255;
    --color-primary-50: 228, 233, 255;
    --color-primary-0: 245, 248, 255;
    --color-secondary-900: 42, 45, 83;
    --color-secondary-800: 63, 66, 100;
    --color-secondary-700: 85, 87, 117;
    --color-secondary-600: 106, 108, 135;
    --color-secondary-500: 127, 129, 152;
    --color-secondary-400: 148, 150, 169;
    --color-secondary-300: 170, 171, 186;
    --color-secondary-200: 191, 192, 203;
    --color-secondary-100: 212, 213, 221;
    --color-secondary-50: 223, 223, 229;
    --color-secondary-0: 250, 250, 250; */
    /* --color-success: rgb(41, 182, 119);
    --color-warning: rgb(242, 194, 62);
    --color-error: rgb(210, 48, 45);
    --color-red: rgb(240, 64, 85);
    --color-blue: rgb(67, 97, 238);
    --color-brown: rgb(95, 54, 53);
    --color-purple: rgb(50, 22, 89);
    --color-yellow: rgb(231, 180, 40); */

    /* --color-red-500: 239, 68, 68;
    --color-red-300: 252, 165, 165; */
  }
  &.dark-mode {
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display: "Vazirmatn", "sans-serif";
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@theme {
  --background-app-rgb: rgb(244, 245, 247);
  --color-white-10: rgba(255, 255, 255, 0.1);
  --color-primary: rgb(204, 49, 45);
  --color-primary-10: rgba(204, 49, 45, 0.1);
  --color-secondary: rgb(255, 244, 248);
  --color-secondary2: rgb(247, 247, 247);
  --color-stroke: rgb(235, 235, 235);
  --color-success: rgb(41, 182, 119);
  --color-warning: rgb(242, 194, 62);
  --color-error: rgb(210, 48, 45);
  --color-red: rgb(240, 64, 85);
  --color-blue: rgb(67, 97, 238);
  --color-brown: rgb(95, 54, 53);
  --color-purple: rgb(50, 22, 89);
  --color-yellow: rgb(231, 180, 40);
  --color-text-primary: rgb(26, 24, 20);
  --color-text-secondary: rgb(96, 96, 96);
  --color-icon-black: rgb(4, 4, 4);

  /* --font-display: "Vazirmatn", "sans-serif"; */
}

@layer components {
  .scrollbarX {
    @apply overflow-y-hidden overflow-x-scroll snap-x snap-mandatory scrollbar-none [&::-webkit-scrollbar]:h-1 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-primary  dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500;
  }
  .bannerSize {
    @apply w-[21.564rem] sm:w-[34.47rem]  md:w-[41.36rem] lg:w-[55.15rem] xl:w-[68.94rem] h-56 sm:h-[13.04rem] md:h-[15.65rem] lg:h-[20.86rem] xl:h-[26.8rem];
  }
  .bannerSecondarySize {
    @apply w-[21.56rem] sm:w-[28.91rem] xl:w-[36.14rem] h-[8.8rem] sm:h-[11.66rem] xl:h-[14.58rem];
  }
  .mobileHeader {
    @apply grid grid-cols-3 p-2 gap-x-10 gap-y-5;
  }
  .btn {
    @apply border border-text-secondary rounded-[3.3rem];
  }
  .btn-primary {
    @apply border-4 border-secondary2 bg-primary text-white;
  }
  .profileLink {
    @apply flex items-center gap-2 border-t border-stroke py-5 text-xs;
  }
  .profileTitle {
    @apply text-xs text-text-primary;
  }
  .profileLinkSecond {
    @apply flex items-center justify-between gap-2 border-t border-stroke py-5 text-sm;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  user-select: none;
  background-color: var(--background-app-rgb);
  background: var(--background);
  color: var(--foreground);
  font-family: "Vazirmatn", sans-serif;
}

button {
  cursor: pointer;
  outline: none;
}
button:disabled {
  cursor: not-allowed;
  background-color: rgb(var(--color-secondary-300), 0.5);
  color: rgb(var(--color-secondary-700), 0.5);
  pointer-events: none;
  box-shadow: none;
}

/* inupt number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
